@model IEnumerable<TennisFinalGrp339.Models.Coach>

@{
    ViewData["Title"] = "Index";
}

<h1>Coaches</h1>

<link rel="stylesheet" href="~/css/coach.css" />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoachId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoachId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoachId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
